<!-- Content Row -->
<div class="row">
    <div class="col-sm-6 col-6 col-lg-4 ">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Learning Angular </h2>
          <p class="card-text">
           The video Learing about Angular in the youtube .<br>
           這是在 youtube 學習 Angular 的影片
          </p>
  <div>
    <youtube-player 
    videoId="iZ1mlcCkY8A?t=6743" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="350" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>
</div>
        </div>
        <!-- <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div> -->
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-sm-6 col-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Learning 前後端</h2>
          <p class="card-text">
            This is learning video <br>
            這是一個前後端學習影片 
          </p>
          <div>
            <youtube-player 
            videoId="4a9VxZjnT7E?t=1920" 
            suggestedQuality="highres" 
            [height]="250" 
            [width]="350" 
            [startSeconds]="4"
            [endSeconds]="8">
          </youtube-player>
        </div>
        </div>
        <!-- <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>-->
      </div> 
    </div>
    <!-- /.col-md-4 -->
    <div class="col-sm-6 col-6  col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Learning web site</h2>
          <p class="card-text"> About the learning web site<br>
            Learning ASP.Net Core 
            <a href="https://docs.microsoft.com/zh-tw/aspnet/core/?view=aspnetcore-5.0"> Link</a>
            <br>
            Learning Web API useing Swagger 
            <a href="https://docs.microsoft.com/zh-tw/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-5.0&tabs=visual-studio-mac"> Link </a>
            <br>
            Learning EF Core (MS SQL)
            <a href="https://docs.microsoft.com/zh-tw/aspnet/core/data/ef-mvc/intro?view=aspnetcore-5.0"> Link </a>
            <br> 
            Angular Material 
            <a href="https://material.angular.tw/?fbclid=IwAR28CUtEAC1xEBPY2LhBKY6WTWokqeXnfpe1p08Lh_0F7ZDyfsIwuug7VwA"> Link </a>
            <br>
            Material.io 
            <a href="https://material.io/resources/build-a-material-theme"> Link </a>
            <br>
            Learning web debug
            <a href="https://ithelp.ithome.com.tw/articles/10237339"> Link </a>
            chrome DevTools
            <a href="https://developers.google.com/web/tools/chrome-devtools"> Link </a>
            <br>
            git by myself
            <a href="https://github.com/shun-lung"> Link </a>
            
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

  <!-- <div>
    <youtube-player 
    videoId="iZ1mlcCkY8A?t=6743" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>
</div> -->

  <!-- 下面用法為  youtube 的檔案在本機 再進行嵌入 -->
    <!-- <video width="320" height="240" controls style="align-content:center;"> -->
        <!-- <source src="https://youtu.be/iZ1mlcCkY8A?t=6743" type="video/mp4">    -->
            <!-- <script src="https://youtu.be/iZ1mlcCkY8A?t=6743"></script>  -->
    <!-- </video> -->

 



<!-- /.container -->


