<!-- Page Content -->
<div class="container">
  
    <!-- Heading Row -->
    <div class="row align-items-center my-5" >
      <div class="col-lg-6 my-5" >
        <img class="img-fluid rounded mb-3 mb-lg-1" style="height: 320px; width: 500px;" src="https://images.unsplash.com/photo-1582033131298-5bb54c589518?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Ym9va3N8ZW58MHx8MHx0ZWFs&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-6" style="color:#B3AC8F">
        <h1 class="font-weight-light">跟著書做練習</h1>
        <p> 之前當PM與軟體開發脫離一段時間</p>
        <p> 再回來學 只好跟著書本做</p>
        <p> 沒有較差 只是較不熟</p>
        <p> 努力進步中</p>
        <a class="btn btn-primary" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <!-- <div class="card text-white bg-secondary my-2 py-1 text-center">
      <div class="card-body">
        <p class="text-white m-3">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
      </div>
    </div> -->
